
<%= form_for(@article) do |a| %>
  <div class="form-group">
    <%= a.label :title %>
    <%= a.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= a.label :content %>
    <%= a.text_field :content, class: 'form-control' %>
  </div>

  <%= a.submit class: 'btn btn-primary' %>
<% end %>
